$color-primary: #212121;
$color-second: #2196f3;
$color-contacts: #757575;
$color-hero: #2f303a;
$color-hero-name: #ffffff;
$color-button: #188ce8;
$color-team: #f5f4fa;
$color-contacts-foter: rgba(255, 255, 255, 0.6);
$color-social-icons: #afb1b8; 
$color-icons-footer: rgba(255, 255, 255, 0.1);
$color-icons: #afb1b8;
$color-background: rgba(47, 48, 58, 0.8);
$color-bckground: rgba(33, 150, 243, 0.9);

$font-primary: 'Roboto' , sans-serif;
$font-secondary: 'Raleway' , sans-serif;

$margin: 0;
$padding: 0;

ul,
.footer__adress,
.footer__social,
.footer-social__title,
.portfolio-box__paragraph,
.overlay__paragraph,
.form__input {
    margin: $margin;
}
.visually-hidden,
.quality__box,
.footer__adress,
.footer__social {
    padding: $padding;
}
body {
    color: $color-primary;
    font-family: $font-primary;
    margin: $margin;
}

.hero__title,
.portfolio__buttons,
.form__button {
    font-family: $font-primary;
}
.nav__logo,
.footer__logo {
    font-family: $font-secondary;
}

.nav__logo-word,
.portfolio-box__name,
.form__control {
    color: $color-primary;
}

.clients__link {
    color: $color-icons;
    &:hover,
    &:focus {
        border-color: $color-second;
    }
}

.form-check__icon {
    border: 2px solid $color-second;
}

.nav__link {
    color: $color-primary;
    &:hover,
    &:focus,
    &::after {
        color: $color-second;
    }
}

.nav-contacts__link {
    color: $color-contacts;
    &:hover,
    &:focus {
        color: $color-second;
    }
}

.social-list__link {
    color: $color-social-icons;
    &:focus,
    &:hover {
        color: $color-second;
    }
}

.nav__logo,
.nav__link.current,
.nav-contacts__icon:hover,
.nav-contacts__icon:focus,
.hero__button,
.clients__link:hover,
.clients__link:focus,
.footer__logo,
.footer__contacts:hover,
.footer__contacts:focus,
.footer__link:hover,
.footer__link:focus,
.send__button,
.portfolio__buttons:hover,
.portfolio__buttons:focus,
.form__input:focus + .form__icons,
.form-check__icon,
.form__button {
    color: $color-second;
}


.paragraph,
.portfolio-box__paragraph {
    color: $color-contacts;
}

.hero.section,
.footer,
.send__input {
    background-color: $color-hero;
}

.hero__title,
.hero__button,
.work__text,
.team__item,
.footer,
.word-logo,
.send__input,
.send__button,
.overlay__paragraph,
.modal,
.modal__close,
.form-check__icon,
.form__button {
    color: $color-hero-name;
}

.footer__link {
    color: $color-hero-name;
    &:hover,
    &:focus {
        color: $color-hero-name;
    }
}

.hero__button {
    font-family: $font-primary;
    &:hover,
    &:focus {
        color: $color-button;
    }
}

.quality__box,
.section.team {
    background-color: $color-team;
}

.portfolio__buttons {
    background-color: $color-team;

    &:hover,
    &:focus {
        color: $color-hero-name;
    }
}

.footer__contacts {
    color: $color-contacts-foter;
}



.footer__link {
    background-color: $color-icons-footer;
}


.work__box {
    background-color: $color-background;
}

.overlay {
    background-color: $color-bckground;
}